<!DOCTYPE html>
<html lang="en" ng-app="testingApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Testing system | Victor Mykhailiv</title>
	
	<style>
	body {
		font-size: large;
	}
	.answer {
		margin: 8px;
	}
	.finish {
		background-color: #f44336;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}
	.result {
		font-size: xx-large;
	}
	.result_error {
		font-size: x-large;
	}
	table, td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 90%;
	}
	td {
		padding: 16px;
		text-align: left; 
		width: 45%;
	}
	</style>
</head>
<body id="body">
	<div ng-controller="testingSystemController" align="center">
		<div ng-repeat="test in tests">
			<div ng-show="!isMultiAnswer($index)">
				{{$index+1}} (№{{test.id}}). <b>{{test.title}}</b>
				
				<div ng-repeat="answer in test.answers">
					<input type="radio" name="{{test.id}}" ng-model="test.answer" value="{{answer}}" class="answer">{{answer}}<br>
				</div>
				<br>
			</div>
				
			<div ng-show="isMultiAnswer($index)">
				{{$index+1}} (№{{test.id}}). <b>{{test.title}}</b>
					
				<div ng-repeat="answer in test.answers">
					<input type="checkbox" value="{{answer}}" ng-click="multiAnswer(test, $index)">{{answer}}<br>
				</div>
				<br>
			</div>
		</div>
			
		<input type="submit" value="Завершити тест" class="finish" ng-click="finish()"/><br><br>
		
		<div ng-show="result.finished" class="result">
			<p><u>Оцінка:</u> {{result.mark}} з {{result.total}} балів ({{(result.mark / result.total) * 100}}%)</p>
			<p ng-show="r>=0">
			<u>Загальний рейтинг:</u> {{(r + (result.mark / result.total) * 110) / 2}}
			</p>
			
			<div ng-show="result.error.length>0" class="result_error">
				<div ng-repeat="test in result.error">
					{{test.index}} (№{{test.test.id}}): <i>{{test.test.correct}}</i>
				</div>
			</div>
		</div>
		
		<input ng-show="result.finished" type="submit" value="Очистити результат" class="reset" ng-click="reset()"/>
	</div>

	<script src="scripts/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	
	<a href='https://acadooghostwriter.com/'>https://AcadooGhostwriter.com</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=7d1f78668d52a1271861c7d7c29903cc2fabbe79'></script>
	<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/288860/t/5"></script>
</body>
</html>