<!DOCTYPE html>
<html lang="en" ng-app="avtobusApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initialscale=1">
	<meta name="description" content="Розклад автобусів. Глибівка. Глибоке. Саджава. Хмелівка. Віктор Михайлів">
	<!--<meta http-equiv="refresh" content="30" />-->
	<title>Автобуси [beta] | Віктор Михайлів</title>
	
	<meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Автобуси [beta] | Віктор Михайлів">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <meta name="msapplication-TileImage" content="images/win-desktop.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">
	
	<link rel="stylesheet" href="styles/material.min.css">
	<script src="scripts/material.min.js"></script>
	<script src="scripts/md5.min.js"></script>
	<script src="scripts/js.cookie.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/app.js"></script>
<style>
.content {
	background-color: #F5F5F5;
}
.card {
	background-color: white;
	width: 98%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 4px;
	font-size: 16pt;
}
.card .text {
	color: black;
	padding: 16px;
}
.card .text .timeLeft {
	color: #616161;
	font-size: 10pt;
}
.card .text .time {
	color: #616161;
	font-size: 10pt;
}
.noBusses {
	width: 98%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 4px;
	font-size: 16pt;
}
.card-settings {
	width: 98%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 8px;
	font-size: 16pt;
}
.about-max-width {
	max-width: 900px;
	margin: auto;
}
.about-image {
	max-width: 100%;
    max-height: 100%;
}
</style>
</head>
<body>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" ng-controller="avtobusController">
	<div class="mdl-tabs__tab-bar">
		<a href="#bogo" class="mdl-tabs__tab is-active">У Бого</a>
		<a href="#village" class="mdl-tabs__tab">У села</a>
		<a href="#settings" class="mdl-tabs__tab" ng-show="isCookiesEnabled()"><img src="images/ic_settings.png"/></a>
		<a href="#about" class="mdl-tabs__tab"><img src="images/ic_about.png"/></a>
	</div>

	<div class="mdl-tabs__panel is-active content" id="bogo">
		<div class="mdl-layout">
			<div class="noBusses" ng-show="noBogo()">
				Сьогодні уже нічого не буде їхати.<br>
				Розклад руху на {{noBogoDay()}}:
			</div>
		
			<div class="card mdl-shadow--2dp" ng-repeat="points in bogo">
				<div class="text" ng-repeat="point in points">
					<div ng-show="isBoldTitle(points, point) && !isWaiting(point)">
						<span class="timeLeft">{{timeLeftToString(points, point)}}</span>
						<b>&nbsp;{{point.title}}&nbsp;</b>
						<span class="time">{{timeToString(point)}}</span>
					</div>
					<div ng-show="!isBoldTitle(points, point) && !isWaiting(point)">
						<span class="timeLeft">{{timeLeftToString(points, point)}}</span>
						&nbsp;{{point.title}}&nbsp;
						<span class="time">{{timeToString(point)}}</span>
					</div>
					<u ng-show="isWaiting(point)">очікування</u>
				</div>
			</div>
		</div>
	</div>
  
	<div class="mdl-tabs__panel content" id="village">
		<div class="mdl-layout">
			<div class="noBusses" ng-show="noVillage()">
				Сьогодні уже нічого не буде їхати.<br>
				Розклад руху на {{noVillageDay()}}:
			</div>
		
			<div class="card mdl-shadow--2dp" ng-repeat="points in village">
				<div class="text" ng-repeat="point in points">
					<div ng-show="isBoldTitle(points, point) && !isWaiting(point)">
						<span class="timeLeft">{{timeLeftToString(points, point)}}</span>
						<b>&nbsp;{{point.title}}&nbsp;</b>
						<span class="time">{{timeToString(point)}}</span>
					</div>
					<div ng-show="!isBoldTitle(points, point) && !isWaiting(point)">
						<span class="timeLeft">{{timeLeftToString(points, point)}}</span>
						&nbsp;{{point.title}}&nbsp;
						<span class="time">{{timeToString(point)}}</span>
					</div>
					<u ng-show="isWaiting(point)">очікування</u>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mdl-tabs__panel content" id="settings">
		<div class="mdl-layout">
			<div ng-repeat="bus in busses">
				<div class="card-settings">
					<strike ng-show="busDisable(bus)">{{bus.title}}</strike>
					<span ng-show="!busDisable(bus)">{{bus.title}}</span>
					<button class="mdl-button mdl-js-button mdl-button--raised" ng-click="busEnableClicked(bus)">
						{{busDisableButtonText(bus)}}
					</button>
				</div>
				<hr ng-show="$index<busses.length-1"/>
			</div>
		</div>
	</div>
  
	<div class="mdl-tabs__panel content" id="about">
		<div class="mdl-grid about-max-width">
			<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Victor Mykhailiv</h2>
				</div>
				<div class="mdl-card__media">
					<img class="about-image" src="images/about-header.jpg">
				</div>
				<div class="mdl-grid">
					<h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Developer. Dreamer.</h3>
					<div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding">
						<p>Hi. I'm 21 years old. I have been working with Android for 4 years. Also during that time developed his skills in HTML, PHP and MySQL.</p>
						<span>You can find me in <a href="https://fb.com/mykhailiv.victor" target="blank">Facebook</a>, <a href="https://t.me/vitoksmile" target="blank">Telegram</a> and <a href="https://play.google.com/store/apps/dev?id=4862720111320373828" target="blank">Google Play</a>.</span>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

<footer class="mdl-mini-footer">
	<div class="mdl-mini-footer__left-section">
		<div class="mdl-logo">Victor Mykhailiv &#169; 2017</div>
		<ul class="mdl-mini-footer__link-list">
			<li><a href="https://fb.com/mykhailiv.victor" target="blank">Facebook</a></li>
			<li><a href="https://instagram.com/vitoksmile" target="blank">Instagram</a></li>
			<li><a href="https://t.me/vitoksmile" target="blank">Telegram</a></li>
			<li><a href="https://play.google.com/store/apps/dev?id=4862720111320373828" target="blank">Google Play</a></li>
		</ul>
		
		<a href='http://www.freevisitorcounters.com'>free visitor counters</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=2a40480ac58b94108af2d4ecbb631ceb89093418'></script>
		<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/288122/t/5"></script>
	</div>
</footer>

<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>
</body>
</html>